$navi-main-color:#2856b6;
$navi-sub-color:#4a73c9;
$navi-point-color:#ffffff;
$navi-input-text-color:#303030;
$navi-input-text-placeholder-color:#ffffff;
$navi-input-text-placeholder-color-focus:#a0a0a0;
$navi-login-popup-disabled-color:#d2d8d8;

$phone-max-width:768px;

$main-body-color:#ebeff1;