<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>부트스트랩 101 템플릿</title>
    <link href="{{ url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
	  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
  </head>
  <body>
  	<div id="nav"></div>
    <div id="container">
        <div id="tree"></div>
    </div>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}">
  	<script>$("#nav").load("{{url_for('static',filename='nav2.html')}}");</script>
    <script>$("#tree").load("{{url_for('static',filename='tree.html')}}");</script>
  </body>
</html>