<style>
/*.navbar-default{
		background-color: #248;
		border-color:#248;
}*/
@media screen and (max-width: 500px) {
  .icon-title {
    display: none;
  }
}
.navbar-custom>li {          /* <- this affects just my footer navbar */
    display: inline-block;
}
#searchform {
	padding-top:7px;
}
.navbar{
	margin:0px;
}
.navbar-nav{
	margin:0px;
}
.navbar-brand{
	height:40px;
}
#navi-profile-computer, #navi-profile-phone{
	margin-right:15px;
}
</style>

<script>
	$(document).ready(function(){
		$(".nav-item").mouseenter(function(){
			$(this).css("background-color", "black");
		});
		$(".nav-item").mouseleave(function(){
			$(this).css("background-color", "white");
		});		
		if($(window).width() <= 768){
			phoneUI();
		}
		else{
			computerUI();
		}
		$(window).resize(function(){
			if($(window).width() <= 768){
				phoneUI();
			}else {
				computerUI();
			}
		});
	});
	function phoneUI(){
		$("#navi-profile-computer").hide();
		$("#navi-profile-phone").show();
		$("#searchform").css("padding-top", "0px");
	}
	function computerUI(){
		$("#navi-profile-computer").show();
		$("#navi-profile-phone").hide();
		$("#searchform").css("padding-top", "7px");	
	}
</script>
<div class="nav-wrapper">
     <nav class="navbar navbar-default navbar-dark">
        <a class="navbar-brand" href="https://librewiki.net/">
        	 <img alt="Brand" src="./icon.png">
        </a>
        <ul class="nav navbar-nav navbar-custom">
            <li class="nav-item">
				<a>
					<span class="icon glyphicon glyphicon-search"></span>
					<span class="icon-title" >최근 변경</span>
				</a>
			</li>
            <li class="nav-item">
				<a>
					<span class="icon glyphicon glyphicon-search"></span>
					<span class="icon-title" >최근 변경</span>
				</a>
			</li>
            <li class="nav-item">
				<a>
					<span class="icon glyphicon glyphicon-search"></span>
					<span class="icon-title" >최근 변경</span>
				</a>
			</li>
			<li id="navi-profile-phone"class="pull-right">
				<button class="btn btn-default navbar-btn">
                    <span class="glyphicon glyphicon-user"></span>
                     	Login
                </button>
			</li>
        </ul>
                <div id="navi-profile-computer" class="pull-right">
                    <a class="none-outline">
                       	<button class="btn btn-default navbar-btn">
                       		<span class="glyphicon glyphicon-user"></span>
                       		Login
                   		</button>
               		</a>
                   </div>
	                        <div id="pt-notifications" class="navbar-notification">
                <a href="https://librewiki.net/#"><span class="label label-danger"></span></a>
            </div>
            <form action="" id="searchform" class="form-inline">
            	<input type="hidden" name="title" value="특수:검색">
            		<div class="input-group">
                		<input type="search" name="search" placeholder="검색" title="리브레 위키 검색 [alt-shift-f]" accesskey="f" class="form-control" id="searchInput" autocomplete="off">                <span class="input-group-btn">
                    <button type="submit" name="go" value="보기" id="searchGoButton" class="btn btn-secondary"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </form>
        </nav>
            </div>
<!-- <nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
  		<ul class="nav navbar-nav navbar-custom">
			<li class="nav-item">
				<a>
					<span class="icon glyphicon glyphicon-search"></span>
					<span class="icon-title" >최근 변경</span>
				</a>
			</li>
			<li class="nav-item">
				<a>
					<span class="icon glyphicon glyphicon-search"></span>
					<span class="icon-title" >최근 변경</span>
				</a>
			</li>
			<li class="nav-item">
				<a>
					<span class="icon glyphicon glyphicon-search"></span>
					<span class="icon-title" >최근 변경</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link">
					<span class="icon glyphicon glyphicon-search"></span>
					<span class="icon-title" >최근 변경</span>
				</a>
			</li>
		</ul>
		<ul class="nav navbarar-nav pull-right">
			<li>
				<button class="btn btn-default navbar-btn">
					<span class="glyphicon glyphicon-user"></span>
					Log in
				</button>
			</li>
		</ul>
		<form id="searchFrom" class="form-inline navbar-form">
			<div class="input-group">
				<input type="text" id="searchInput" class="form-control ui-autocomplete-input" placeholder="Search" tabindex="1" autocomplete="off">
					<span class="input-group-btn right-search-btns">
						<button id="searchBtn" class="btn btn-secondary" type="button">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>
				</input>
			</div>
		</form>

	</div>
</nav> -->