<link rel="stylesheet" href="../css/nav.css">
<script type="text/javascript" src="../js/jquery.color.js"></script>
<script>
	$(document).ready(function(){
		if($(window).width() <= 768){
			console.log("width");
			phoneUI();
		}
		else{
			computerUI();
		}
		$(window).resize(function(){
			console.log("resize");
			if($(window).width() <= 768){
				phoneUI();
			}else {
				computerUI();
			}
		});
	});
	var isPhoneUI;
	var navHasFocus = false;
	function phoneUI(){
		isPhoneUI = true;
		$("#navi-panel").hide();
		$("#navi-right-menu-search").show();
	}
	function computerUI(){
		if(navHasFocus){
			$("#navi-phone-form").hide();
    		$("#navi-right-menu").show();
    		$("#navi-left-menu").show();
    		navHasFocus = false;
		}

		isPhoneUI = false;
		$("#navi-panel").show();
		$("#navi-right-menu-search").hide();	
	}

	
	$("#navi-panel").click(function(e){
		console.log("clicked " + navHasFocus);
		e.stopPropagation();
		if(!navHasFocus)
			$("#navi-panel>input").focus();
	});

    $("#navi-search").click(function(event){
        event.stopPropagation();
   		console.log("click navi-search");
    });

    $("#navi-phone-search").click(function(event){
        event.stopPropagation();
   		console.log("click navi-phone-search");
    });

    $(window).click(function(e){
    	if(navHasFocus){
    		if(isPhoneUI){
    			if(e.target.id != 'navi-search-btn'){
    				$("#navi-phone-form").hide();
					$("#navi-left-menu").show();
    				$("#navi-right-menu").show();
    				navHasFocus = false;
    			}
    		}else {
	    		if(e.target.id != 'navi-panel'){
	    			naviFocusEvent(false);
	      		} 
      		}
    	}
    })

    $("#navi-phone-panel").click(function(e){
    	console.log("aa");
    	e.stopPropagation();
    });


	function naviFocusEvent(hasFocus){
		navHasFocus = hasFocus;
		if(isPhoneUI){
			$("#navi-phone-form").show();
			$("#navi-right-menu").hide();
			$("#navi-left-menu").hide();
		}else {
			if(hasFocus){
				$("#navi-panel").animate({backgroundColor: /*$navi-point-color*/"#ffffff"}, 150 );
				$("#navi-panel>input").animate({backgroundColor: /*$navi-point-color*/"#ffffff"}, 150);
				$("#navi-panel>img").show(150);
				$("#navi-panel>input").css('text-align', 'left');
			} else {
				$("#navi-panel").stop(true, false);
				$("#navi-panel>input").stop(true, false);
				
				$('#navi-panel').css('background-color', /*$navi-sub-color*/'#4a73c9');
				$('#navi-panel>input').css('background-color', /*$navi-sub-color*/'#4a73c9');
				$("#navi-panel>img").hide();
				$("#navi-panel>input").css('text-align', 'center');	
			}
		}	
	}

</script>
<nav id="navi" style="text-align:center">
	<form id="navi-phone-form">
		<div id="navi-phone-panel" class="panel">
			<input type="text">
			<img id="navi-phone-search"src="../resource/navi-search-img.png">
		</div>
	</form>
	<ul id="navi-left-menu" class="navi-side-menu">
		<li>
			<a href="#">Menu1</a>
		</li>
		<li>
			<a href="#">Menu2</a>
		</li>
	</ul>
	<form style="margin:0 auto; padding:0; display:inline;">
		<div id="navi-panel"class="panel" >
			<input id="navi-input"placeholder="Click for search" onfocus="naviFocusEvent(true)"></input>
  			<img id="navi-search"src="../resource/navi-search-img.png"/>
		</div>
	</form>
	<ul id="navi-right-menu" class="navi-side-menu">
		<li id="navi-right-menu-search">
			<a href="#" id="navi-search-btn" onclick="naviFocusEvent(true)">Search</a>
		</li>
		<li>
			<a href="#">Login</a>
		</li>
	</ul>
</nav>