<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>부트스트랩 101 템플릿</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
	 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
   	<style>
   	#list{
   		padding-left: 100px;
   	}
   	</style>
	<script>
		$(document).ready(function(){

			function Branch(){
				this.branches = [];
				this.branchName;
			}

			var branch1 = new Branch();
			var branch2 = new Branch();
			branch1.branchName = "root";
			branch1.branches[0] = new Branch();
			branch1.branches[0].branchName = "first";
			branch1.branches[1] = new Branch();
			branch1.branches[1].branchName = "second";
			branch1.branches[2] = new Branch();
			branch1.branches[2].branchName = "third";
		
			branch1.branches[2][0] = new Branch();
			branch1.branches[2][0].branchName = "b_first";
			branch1.branches[2][1] = new Branch();
			branch1.branches[2][1].branchName = "b_second";
			branch1.branches[2][2] = new Branch();
			branch1.branches[2][2].branchName = "b_third";


			$("#here").append("<ul id='list' class='list-group'>");
			for(i = 0; i < branch1.branches.length; i++){
				$("#here").append("<li class='list-group-item'>" + branch1.branches[i].branchName + "</li>");
			}
			$("#here").append("</ul>");

			$(".list-group-item").mouseenter(function (){
				$(this).css("background-color","yellow");
			});
			$(".list-group-item").mouseleave(function (){
				$(this).css("background-color","white");
			});
			$(".list-group-item").click(function (){
				$("#here").append("<ul id='list' class='list-group'>");
				for(i = 0; i < this.branches.length; i++){
					$("#here").append("<li class='list-group-item'>" + this.branches[i].branchName + "</li>");
				}
				$("#here").append("</ul>");
			});
		});
	</script>

  </head>
  <body>
  	<div id="here">
  		
  	</div>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>